* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 78px;
    height: 100vh;
    width: 100vw;
}

.bloco {
    width: 100px;
    height: 100px;
}

.bloco-1 {
    background-color: #9b59b6;
}

.bloco-2 {
    background-color: #f1c40f;
}

.bloco-3 {
    background-color: #e67e22;
}